@use 'styles/breakpoints';
@use 'styles/mixins';

.product-details {
  $self: &;
  box-sizing: border-box;

  &__image,
  &__color-palette {
    @include mixins.flex-center();
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 600;
  }

  &__slider {
    @include mixins.flex-col-center();

    box-sizing: border-box;
    padding-top: 1rem;
    height: 25rem;

    img {
      max-height: 20rem;
    }
  }

  &__color {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    & + & {
      margin-left: 0.5rem;
    }

    &-stack {
      @include mixins.flex-center();

      position: relative;
      padding-top: 1.5rem;

      #{$self}__current-color {
        position: absolute;
        bottom: -0.125rem;
        left: 0;
      }
    }

    &.current {
      position: relative;

      &:before {
        position: absolute;
        content: '';
        top: 0.25rem;
        left: 0.25rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: white;
      }
    }
  }

  &__current-color.for-large-screens {
    display: none;
  }

  &__specification,
  &__currency {
    line-height: 1.5;
  }

  &__specification {
    box-sizing: border-box;
    padding-top: 1rem;
    color: var(--c-neutral-a);
  }

  &__content-stack {
    @include mixins.flex('center', 'flex-start');

    position: sticky;
    bottom: 0;
    line-height: 1;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--c-bg-inverse);
  }

  &__currency {
    color: var(--c-neutral-a);
    padding-right: 0.125rem;
    font-size: 1rem;
    font-weight: 400;
  }

  &__price {
    @include mixins.flex('baseline', 'flex-start');

    flex: 1;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__like {
    color: var(--c-neutral-a);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  &__buy {
    padding-right: 0.25rem;
  }

  &__content {
    @include breakpoints.md {
      display: flex;

      #{$self}__col {
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        &:first-child {
          width: 35rem;
        }

        &:last-child {
          padding-top: 5rem;
        }
      }

      #{$self}__current-color {
        display: none;

        &.for-large-screens {
          display: block;
          padding-top: 1.5rem;
        }
      }
    }
  }
}
