.toast {
  $self: &;

  &__content {
    cursor: pointer;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 0.03125rem;
    line-height: 1.25;
    padding: 1rem;
    border-radius: 1.625rem;
  }

  &--warning #{$self}__content {
    background-color: var(--c-warning-main);
  }

  &--success #{$self}__content {
    background-color: var(--c-success-main);
  }

  &--error #{$self}__content {
    background-color: var(--c-error-main);
  }

  &--info #{$self}__content {
    background-color: var(--c-info-main);
  }
}
